.item {
  display: flex;
  flex-direction: column;
  background-color: #1A277E;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  border-radius: 10px;
}

.artworkCover {
  width:100%;
  height: auto;
}

.content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap:25px;
  text-align: left;
}

.title {
  font-size: 26px;
  letter-spacing: 0.04rem;
}

.subtitle {
  font-weight: 400;
  color: #c7ffff;
  font-size: 14px;
  margin-top: 5px;
}

.release {
  font-size: 12px;
  background-color: #2944a9;
  padding: 7px 15px 7px 8px;
  border-radius: 20px;
  line-height: 15px;
  color: #fff;
  display: flex;
  align-items: center;
  gap:6px;
}

.icon {
  width:20px;
  display: flex;
  align-items: center;

  svg {
    width:100%;
    height: auto;
    fill:#fff;
  }

}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #1a277e;
  font-size: 12px;
  gap: 7px;
  flex-wrap: nowrap;
  background-color: #2eb8f6;
  padding: 5px 15px 5px 18px;
  border-radius: 20px;
  border: 2px solid #0d1a6c;
  transition: 0.2s ease-in;

  span {
    display: flex;
    align-items: center;
    font-weight: 700;
    letter-spacing: 0.02rem;
  }

  svg {
    width:22px;
    height: auto;
    fill:#1a277e;
    transition: 0.2s ease-in;
  }

  &:hover,
  &:focus,
  &:active {
    background-color: #0d1a6c;
    color: #fff;

    svg {
      fill:#fff;
    }

  }

}
