.breadcrumbs {
  height:20px;

  ol {
    display: flex;
    align-items: center;
    gap:3px;
    justify-content: center;
    list-style: none;
    font-size: 15px;

    li {
      text-transform: capitalize;
    }

    a {
      color:#fff;
      text-decoration: none;
    }

    .separator {
      color: #A6BBFF;
    }

    .link {

    }

    .current {
      pointer-events: none;
      color: #A6BBFF;
    }

  }


}
