.mobileMenu  {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: 999;
  transition: 0.2s ease-in;
  transform: translateX(100%);
  background: linear-gradient(135deg, #262e74 0%, #2c5ed8 50%, rgb(38, 43, 110) 100%);
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.headerVector {
  width: 170%;
  height: auto;
  position: absolute;
  left: -60%;
  top: -22%;
}

.mobileTopContainer {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
}

.close {
  height: 40px;
  padding: 10px 15px;
  cursor: pointer;
  background: #2EB8F6;
  border: 2px solid #2B126D;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  display: flex;
  align-items: center;
  gap: 5px;
  color: #2B126D;
  letter-spacing: 0.05rem;

  svg {
    width: 15px;
    height: auto;
    fill: #2B126D;
  }

}


.logo {
  display:inline-block;
  width: 180px;

  img {
    width:100%;
    height: auto;
  }

}

.menu {
  position: relative;
  z-index: 1;
  list-style: none;
  text-align: center;

  li {

    a {
      color: #c7ffff;
      font-size: 30px;
      text-decoration: none;
      padding: 5px 0;
      display: block;
    }

  }

}
