.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:10px;
  width:100%;
  max-width: 300px;
  margin: 0 auto;
}

.title {
  text-align: center;
  font-weight: 700;
  font-size: 25px;
  letter-spacing: 0.04rem;
}

.text {
  color: #C7FFFF;
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 10px;
}

.inputField {
  position: relative;
  width:100%;
}

.euroSign {
  position: absolute;
  left: calc(40% + 0px);
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: #97A2EC;
  margin-top: 1px;
}

.defaultAmountsContainer {
  width:100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap:10px;
}

.defaultAmount {
  color: #97A2EC;
  font-size: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  background-color: #1A277E;
  width: 60px;
  height: 30px;
  line-height: 26px;
  border-radius: 32px;
  cursor: pointer;
  font-family: inherit;
  transition: 0.2s ease-in;
  border: 2px solid #1A277E;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover,
  &:focus,
  &:active {
    color: #1A277E;
    background: #2eb8f6;
  }

}

.input, .inputPlaceholder {
  width: 100%;
  font-family: inherit;
  height: 45px;
  background-color: #1A277E;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 2px solid #1A277E;
  color: #fff;
  outline: none;
  border-radius: 20px;
  padding: 0 40%;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  transition: 0.2s ease-in;
  -moz-appearance: textfield;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &:hover,
  &:focus,
  &:active {
    border-color: #2eb8f6;
  }


}


.buttons {
  margin-top:15px;
  width:100%;
}

.placeholderContainer {
  //height: 190px;
}

.paypalPlaceholder {
  height: 47px;
  width:100%;
  background-color: #fff;
  border-radius: 30px;
}
